.navBar {
    position: relative;
    margin-bottom: 10px;
    background: #fff;
}

.navBar .content {
    text-align: center;
    line-height: 43px;
    font-size: 18px;
}

.navBar .arrow-left {
    position: absolute;
    left: 12px;
    top: 8px;
}
.navBar .arrow-left i{
    font-size: 26px;
}